/* _________Basic setup here__________ */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}
.primary-btn{
    padding:15px 15px;
    color:#fff;
    background:#FD6E0A;
    font-size:18px;
    font-weight: 700;
    border-radius:5px;
    text-decoration: none;
    margin-top: 20px;
}
.container{
    max-width:1540px;
    margin:auto;
}
p{
    margin-bottom:20px;
    color:#757575;
}
h3{
    font-size: 45px;
    color:#474747;
    text-align: center;
}
/* __________navigation style here__________ */
header{
    background:#FFF8F3;
    background-image: url("../img/header_bg.png"),url('../img/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 20px center;
    background-size:1200px 700px, 100px;
    padding:0 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:50px 0;
}
nav h2{
    font-size:45px;
    color:black;
}
nav span{
    color:#FD6E0A;
}
nav>ul{
    list-style:none;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    gap:50px;
}
nav a{
    text-decoration:none;
    color:#474747;
}
/* ________Banner style here_________ */
main{
    padding:0 20px;
}
.banner{
    padding:42px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner h1{
    font-size: 85px;
    margin:50px 0;
}
.banner-greeting{
    text-align: left;
}
.banner-content{
    width:70%;
    margin-bottom:30px;
}
.btn-group a:nth-child(1){
    margin-right:25px;
}
.btn-group a:nth-child(2){
    background:#fff;
    color:#FD6E0A;
    border:1px solid #FD6E0A;
    transition: .4s;
}
.btn-group a:nth-child(2):hover{
    background:#FD6E0A;
    color:#fff;
}
.banner-img{
    width:700px;
}
.banner-img img{
    width:100%;
    margin-bottom:-8px;
}
/* _________about section style here__________ */
#section-about{
    margin:100px 0;
}
.section-content{
    width:70%;
    margin:auto;
    background:#FFF8F3;
    padding:80px;
    border-radius: 10px;
}
.section-title{
    margin-bottom:40px;
}
.section-description{
    margin:auto;
    text-align:center;
}
.address {
    display: flex;
    margin-top:50px;
    flex-direction: row;
    gap:50px;
    justify-content: space-around;
    text-align: center;
}
.address-item p{
    margin-bottom:0px;
}
/* ________What I Do Section Here_________ */
#section-whatIdo .section-content{
    background:#ffff;
}
/* ________Skill card here________________ */
#section-whatIdo{
    margin-bottom: 100px;
}
.card{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: auto;
    width:80%;
}
.card-body{
    background:#fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px;
}
/* ________Resume style here__________ */
#section-resume{
    padding-bottom:100px;
}
.resume-content{
    width:80%;
    margin:auto;
}
.resume-content .section-title{
    margin-bottom:100px;
}
.education h4,.experience h4{
    font-size:28px;
    color:#525252;
}
.resume-item {
    margin:20px 0;
}
.resume-item h5{
    font-size:18px;
    color:#525252;
}
.resume-sub-title{
    font-size:18px;
    margin-bottom: 10px;
}
.resume-education-experience{
    display: flex;
    gap:40px;
    color:#757575;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* __________Footer Cheek Here___________ */
footer{
    background-color: #FFF8F3;
    padding:100px 0;
}
.footer-element{
    width:80%;
    display: flex;
    flex-direction:row;
    gap:200px;
    margin: auto;
}
.footer-content{
    text-align:left;
    width:100%;
}
.footer-content-title h3{
    margin-bottom: 30px;
    text-align: left;
}
.social{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.social-item i{
    color:#FD6E0A;
    font-size: 20px;
}
.footer-message{
    width:100%;
}
label{
    display: block;
    margin-bottom:15px;
}
label input{
    padding:20px;
    width:100%;
    outline:none;
    border:none;
    background: #fff;
    font-size:18px;
}
textarea{
    padding:20px;
    outline:none;
    border:none;
    background: #fff;
    width:100%;
    font-size:18px;
}
.footer-message button{
    border:none;
    padding-left:25px;
    padding-right:25px;
    cursor:pointer;
}

.hide{
    display: none;
}
footer{
    padding:0 20px;
}
/* _________Responsive Css Style is here_____________ */
/* _________Responsive for mobile device_____________ */
@media screen and (max-width:576px){
    /* ___________Here is header section_________ */
    h3{
        font-size:35px;
        line-height: 45px;
    }
    .primary-btn {
        padding: 10px 15px;
        font-size: 15px;
    }
    nav h2{
        font-size:40px;
    }
    nav ul{
        display: none;
    }
    header {
        background-image: url(../img/header_bg.png);
        padding-bottom:40px;
    }
    .banner{
        flex-direction: column-reverse;
        padding-top:0;
    }
    .banner-info{
        margin-top:40px;
    }
    .banner h1 {
        font-size: 46px;
        margin: 24px 0;
    }
    .banner-img{
        width: 100%;
    }
    /* ______________Responsive for about section__________ */
    #section-about {
        margin: 45px 0;
    }
    .section-content{
        padding:20px;
        width:100%;
    }
    .address{
        flex-direction: column;
    }
    /* _________start What i do section__________ */
    #section-whatIdo {
        margin: 45px 0;
    }
    .card{
        flex-direction:column;
    }
    /* ____________start resume section_______ */
    #section-resume {
        padding: 45px 0;
    }
    .resume-content .section-title {
        margin-bottom: 45px;
    }
    .resume-education-experience {
        flex-direction:column;
    }
    /* ____________start footer section____________ */
    .footer-element{
        padding:45px 0;
        width:100%;
        flex-direction: column;
        gap:45px;
    }
}